<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include 'testapp/cdn.html'%}

  </head>
  <body>

      {% if request.COOKIES %}
      <table class="table">
         <thead>
           <tr>
             <th>itemname</th>
             <th>price</th>

           </tr>
           </thead>
           {% for key,value in request.COOKIES.items %}
         <tbody>
           <tr>
             <td>{{key}}</td>
             <td>{{value}}</td>
           </tr>
         </tbody>
         {% endfor %}
    </table>
    {% else %}
      <h1>no cart items</h1>
    {% endif %}

  </body>
</html>
